/* Formatação universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilizando o body */

body {
    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'inter', sans-serif;
    line-height: 160%;
}

/* Estilizando o Header */

header {
    padding-top: 32px;
    height: calc(120px + 32px);
}

header img {
    width: 100%;
    border-radius: 50%;
}

header div {
     width: 120px;
     margin: auto;
     background-image: linear-gradient(90deg, #9572FC 0%, #5344db 50.52%, #459be2 100%);
     border-radius: 50%;
     display: flex;
     padding: 4px;
     transition: transform .3s;

     animation: fromTop .7s 160ms backwards;
}

header div:hover {
    transform: scale(1.1);
}

/* Estilizando o Main */

main {
    max-width: 580px;
    width: 90%;
    margin: auto;

    display: grid;
    gap: 24px;
    margin-top: 32px;
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .8s;
}

/* Estilizando as Sections */

section {
    color: white;
    background-image: linear-gradient(90deg, #372b5e 0%, #5344db 50.52%, #459be2 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px; 
    color: #A1A1AA;
}

/* Animação das Sections */

section:nth-child(1) {
    transition: transform .3s;
}
section:nth-child(1):hover {
    transform: scale(1.1);
}

section:nth-child(2) {
    transition: transform .3s;
}
section:nth-child(2):hover {
    transform: scale(1.1);
}

section:nth-child(3) {
    transition: transform .3s;
}
section:nth-child(3):hover {
    transform: scale(1.1);
}

/* Estilizando a UL */

/* OBS: O código abaixo pode ser usado para as mesmas funcções de animação das LIS -
    section ul li {
        transition: transform .3s;
    } 
    section ul li:hover {
        transform: scale(1.1);
}
*/

ul {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    list-style: none;
}

/* Lista de Games - LI */

.game-list img {
    border-radius: 8px;
    width: 90px;
}

.lol {
    transition: transform .3s;
}
.lol:hover {
    transform: scale(1.1);
}

.spiderman {
    transition: transform .3s;
}
.spiderman:hover {
    transform: scale(1.1);
}

.cod {
    transition: transform .3s;
}
.cod:hover {
    transform: scale(1.1);
}

/* Lista de Canais - LI*/

.channel-list img {
    border-radius: 50%;
    width: 70px;
    border: 3px solid #622ef0;
}

.casemiro {
    transition: transform .3s;
}
.casemiro:hover {
    transform: scale(1.1);
}

.gaules {
    transition: transform .3s;
}
.gaules:hover {
    transform: scale(1.1);
}

.kennzy {
    transition: transform .3s;
}
.kennzy:hover {
    transform: scale(1.1);
}

.mylonzete {
    transition: transform .3s;
}
.mylonzete:hover {
    transform: scale(1.1);
}

/* Lista de Redes Sociais - LI   */

.youtube {
    transition: transform .3s;
}
.youtube:hover {
    transform: scale(1.1);
}

.instagram {
    transition: transform .3s;
}
.instagram:hover {
    transform: scale(1.1);
}

.twitch {
    transition: transform .3s;
}
.twitch:hover {
    transform: scale(1.1);
}



/* Animações*/

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    } 
}